<style type="text/css">
.giscus, .giscus-frame {
        width: 100%;
        border: none;
    }
</style>    
<script src="https://giscus.vercel.app/client.js"
        data-repo="Tech-Debt-Burndown/TDBwebsite"
        data-repo-id="MDEwOlJlcG9zaXRvcnkzNTAyOTk3OTc="
        data-category-id="MDE4OkRpc2N1c3Npb25DYXRlZ29yeTMyOTE4MDUx"
        data-mapping="pathname"
        data-theme="light"
        crossorigin="anonymous"
        async>
</script>

<noscript>Please enable JavaScript to view the <a href="https://giscus.vercel.app/">comments powered by Giscus.</a></noscript>
